.forms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px; */
    padding: 30px;
}
.img-container{
    border-radius: 5px;

}
.img-container>img{
    width: 504px;
    height: 600px;
    border-radius: 5px;
    object-fit: cover;

}
.login-footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp{
    width: 50%;
}