.forms{
    display: flex;
}

.img-container>img{
    width: 504px;
    height: 70%;
    object-fit: cover;

}
.login-footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
form{
    border: 1px solid;
}