.forms{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.img-container>img{
    width: 504px;
    height: 500px;
    object-fit: cover;

}
.login-footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    border: 1px solid;
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
