/* Navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
}

.move {
    margin-left: 100px;
}

.logo-btn {
    text-decoration: none;
}

.greener {
    color: rgb(23, 218, 23);
    font-weight: bolder;
}

.greener:hover {
    color: rgb(105, 233, 105);
    transition: 0.5s ease-in-out;
}

.g {
    color: rgb(14, 13, 13);
    font-weight: bolder;
}

.g:hover {
    color: rgba(14, 13, 13, 0.4);
    transition: 0.5s ease-in-out;
}

/* Navbar styles */
.navbar-toggler{
    background-image: inherit;
}
/* Content styles */
.content{
    margin-top: 20px;
}

/* Content styles */
.navbar-toggler-icon{
    /* background: red; */
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
    /* display: block; */
}
.navbar-toggler-icon:hover{
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}